Repository WhatHappenedTo2nd/ft_transcendence, pull requests merged in 2022-10, with the labels that each got.

#65 Position fix sidebar to outlet
  srcs/backend/src/auth/auth.controller.ts
  srcs/frontend/src/App.tsx
  srcs/frontend/src/components/mypage/UserProfile.tsx
  srcs/frontend/src/components/pages/ChattingRoomPage.tsx
  srcs/frontend/src/components/pages/ChoicePage.tsx
  srcs/frontend/src/components/pages/HomePage.tsx
  srcs/frontend/src/components/pages/MyProfilePage.tsx
Labels: frontend

#66 feat: 패스워드 체크 & 모달창 구현 & react-hook-form 버전 충돌 해결
  srcs/frontend/package-lock.json
  srcs/frontend/package.json
  srcs/frontend/src/components/chatting/ChatListItem.tsx
  srcs/frontend/src/components/chatting/ChattingRoom.tsx
  srcs/frontend/src/components/chatting/CheckPassword.tsx
  srcs/frontend/src/components/interface/IChatListProps.tsx
  srcs/frontend/src/components/pages/GamePage.tsx
Labels: enhancement, frontend

#69 Fix: 방에 들어갔을 시 방 인원 출력 및 자잘한 기능 추가
  srcs/backend/src/chat/chat.controller.ts
  srcs/backend/src/chat/chat.entity.ts
  srcs/backend/src/chat/chat.module.ts
  srcs/backend/src/chat/chat.repository.ts
  srcs/backend/src/chat/chat.service.ts
  srcs/backend/src/chat/chatuser.entity.ts
  srcs/backend/src/chat/chatuser.repository.ts
  srcs/backend/src/chat/dto/chat.dto.ts
  srcs/backend/src/chat/dto/chatuser.dto.ts
  srcs/frontend/src/api/api.ts
  srcs/frontend/src/components/chatting/Chatting.tsx
  srcs/frontend/src/components/game/Game.tsx
  srcs/frontend/src/components/game/GamePlayerInfo.tsx
  srcs/frontend/src/components/game/GameRoom.tsx
  srcs/frontend/src/components/game/GameScreen.tsx
  srcs/frontend/src/components/interface/IChatProps.tsx
  srcs/frontend/src/components/pages/ChoicePage.tsx
  srcs/frontend/src/components/pages/HomePage.tsx
  srcs/frontend/src/components/sidebar/RoomUserList.tsx
  srcs/frontend/src/components/sidebar/SideBar.tsx
  srcs/frontend/src/components/sidebar/UserItem.tsx
  srcs/frontend/src/components/sidebar/contextmenu/UI/BlockMenu.tsx
  srcs/frontend/src/components/sidebar/contextmenu/UserContextmenu.tsx
Labels: backend, frontend

#70 feat: 채팅방 버튼 생성
  srcs/frontend/src/components/chatting/CreateButton.tsx
  srcs/frontend/src/components/pages/ChattingRoomPage.tsx
Labels: enhancement, frontend

#71 Fix: 방에 들어갔을 시 contextmenu 다르게 세팅, 1차 완료
  srcs/frontend/src/components/sidebar/FriendItem.tsx
  srcs/frontend/src/components/sidebar/FriendList.tsx
  srcs/frontend/src/components/sidebar/RoomUserList.tsx
  srcs/frontend/src/components/sidebar/SideBar.tsx
  srcs/frontend/src/components/sidebar/UserItem.tsx
  srcs/frontend/src/components/sidebar/UserList.tsx
  srcs/frontend/src/components/sidebar/contextmenu/UserContextmenu.tsx
  srcs/frontend/src/hooks/useAddFriend.tsx
Labels: frontend

#73 Fix: 방을 나갈 때 남은 유저가 있으면 host 넘겨주기
  srcs/backend/src/chat/chat.gateway.ts
  srcs/backend/src/chat/chat.repository.ts
  srcs/backend/src/chat/chatuser.repository.ts
  srcs/frontend/src/components/chatting/Chatting.tsx
Labels: backend

#76 fix: 모달창 Re-rendering 문제 해결
  srcs/frontend/src/api/api.ts
  srcs/frontend/src/components/chatting/CheckPassword.tsx
Labels: bug, frontend

#77 fix : ChatUser 테이블 데이터 저장 문제 해결
  srcs/backend/src/chat/chat.gateway.ts
  srcs/frontend/src/components/chatting/CheckPassword.tsx
Labels: bug, backend, frontend

#80 Fix: check make fail
  srcs/backend/src/user/user.service.ts
  srcs/frontend/src/components/game/Game.tsx
  srcs/frontend/src/components/game/GameScreen.tsx
  srcs/frontend/src/components/interface/IGameProps.tsx
Labels: bug

#82 Feat: handle muted user
  srcs/backend/src/chat/chat.gateway.ts
  srcs/backend/src/chat/chatuser.repository.ts
  srcs/frontend/src/components/chatting/Chatting.tsx
Labels: enhancement, backend, frontend

#84 Feat: frontend sidebar screen fix & game ratio type change
  srcs/frontend/src/components/game/Game.tsx
  srcs/frontend/src/components/game/GameScreen.tsx
  srcs/frontend/src/components/interface/IGameProps.tsx
  srcs/frontend/src/components/interface/IUserChatProps.tsx
  srcs/frontend/src/components/interface/IUserProps.tsx
  srcs/frontend/src/components/pages/GamePage.tsx
  srcs/frontend/src/components/sidebar/SideBar.tsx
Labels: enhancement, frontend

#87 Fix: HOST 넘기는 기능 완성
  srcs/backend/src/chat/chat.controller.ts
  srcs/backend/src/chat/chat.service.ts
  srcs/frontend/src/components/sidebar/contextmenu/UI/HostApproveMenu.tsx
  srcs/frontend/src/components/sidebar/contextmenu/UserContextmenu.tsx
Labels: backend

#88 FEAT: Change profile when first register
  srcs/backend/src/user/dto/user-default.dto.ts
  srcs/backend/src/user/user.controller.ts
  srcs/backend/src/user/user.entity.ts
  srcs/backend/src/user/user.repository.ts
  srcs/backend/src/user/user.service.ts
  srcs/frontend/src/api/api.ts
  srcs/frontend/src/components/interface/IUserProps.tsx
  srcs/frontend/src/components/mypage/Signup.tsx
  srcs/frontend/src/components/pages/ChoicePage.tsx
Labels: enhancement, backend, frontend

#89 Feat: game user disconnect handling
  srcs/backend/src/games/enum/games.enum.ts
  srcs/backend/src/games/games.controller.ts
  srcs/backend/src/games/games.entity.ts
  srcs/backend/src/games/games.gateway.ts
  srcs/backend/src/games/games.repository.ts
  srcs/backend/src/games/games.service.ts
  srcs/frontend/src/api/api.ts
  srcs/frontend/src/components/game/Game.tsx
  srcs/frontend/src/components/game/GameScreen.tsx
  srcs/frontend/src/components/interface/IGameProps.tsx
Labels: bug, enhancement, backend, frontend

#91 Feat: 게임 관전 func 추가. 기능오류 아직 있음
  srcs/backend/src/chat/chat.controller.ts
  srcs/backend/src/chat/chat.service.ts
  srcs/backend/src/chat/chatuser.repository.ts
  srcs/frontend/src/api/api.ts
  srcs/frontend/src/components/sidebar/FriendItem.tsx
  srcs/frontend/src/components/sidebar/contextmenu/UI/GameSpectactorMenu.tsx
  srcs/frontend/src/components/sidebar/contextmenu/UserContextmenu.tsx
Labels: backend, frontend

#94 Feat: handle blocked user
  srcs/backend/src/chat/chat.gateway.ts
  srcs/backend/src/chat/chat.service.ts
  srcs/backend/src/chat/chatuser.repository.ts
Labels: enhancement, help wanted, backend

#95 Feat: add socket_id column to User entity
  srcs/backend/src/chat/chat.gateway.ts
  srcs/backend/src/chat/chat.module.ts
  srcs/backend/src/chat/chat.service.ts
  srcs/backend/src/user/dto/user-default.dto.ts
  srcs/backend/src/user/user.entity.ts
  srcs/backend/src/user/user.repository.ts
Labels: enhancement, backend

#96 Fix: show only sign up page
  srcs/frontend/src/components/mypage/UserProfile.tsx
  srcs/frontend/src/components/pages/ChoicePage.tsx
  srcs/frontend/src/components/pages/HomePage.tsx
Labels: bug, frontend

#97 Feat: frontend success get game history api
  srcs/backend/src/games/games.controller.ts
  srcs/backend/src/games/games.gateway.ts
  srcs/backend/src/user/user.entity.ts
  srcs/frontend/src/api/api.ts
  srcs/frontend/src/components/interface/IUserProps.tsx
  srcs/frontend/src/components/mypage/History.tsx
Labels: bug, enhancement, frontend

#99 Feat: 방장일 때 방 관련 세팅 변경할 수 있는 버튼 추가-> 기능은 아직 미구현
  srcs/frontend/src/components/sidebar/RoomUserList.tsx
  srcs/frontend/src/components/sidebar/SideBar.tsx
Labels: frontend

#100 Feat: 중복데이터 있을 시 여러 번 안 들어가게 세팅(join-room)
  srcs/backend/src/chat/chat.gateway.ts
Labels: backend

#101 Feat: backend game gateway change namespace
  srcs/backend/src/chat/chat.gateway.ts
  srcs/backend/src/games/games.gateway.ts
  srcs/frontend/src/components/mypage/MyProfile.tsx
Labels: bug, backend

#102 Feat: host일 때 방 설정 변경하는 기능 추가
  srcs/backend/src/chat/chat.gateway.ts
  srcs/frontend/src/components/chatting/EditButton.tsx
  srcs/frontend/src/components/sidebar/RoomUserList.tsx
  srcs/frontend/src/components/sidebar/contextmenu/UI/GameSpectactorMenu.tsx
Labels: backend, frontend

#103 Fix: handle blocker user done
  srcs/backend/src/chat/chat.gateway.ts
  srcs/backend/src/chat/chat.service.ts
  srcs/backend/src/chat/chatuser.repository.ts
  srcs/backend/src/user/dto/user-id.dto.ts
  srcs/backend/src/user/user.repository.ts
  srcs/frontend/src/components/chatting/Chatting.tsx
Labels: enhancement, backend

#110 Fix: 빠진 기능 추가
  srcs/backend/src/chat/chat.controller.ts
  srcs/backend/src/chat/chat.gateway.ts
  srcs/backend/src/chat/chat.service.ts
  srcs/backend/src/chat/chatuser.repository.ts
Labels: backend

#111 Feat: enable game spectate
  srcs/backend/src/chat/chat.gateway.ts
  srcs/backend/src/chat/chatuser.repository.ts
  srcs/backend/src/games/class/game-room.class.ts
  srcs/backend/src/games/enum/games.enum.ts
  srcs/backend/src/games/games.controller.ts
  srcs/backend/src/games/games.gateway.ts
  srcs/frontend/src/components/chatting/Chatting.tsx
  srcs/frontend/src/components/game/Game.tsx
  srcs/frontend/src/components/game/GameRoom.tsx
  srcs/frontend/src/components/pages/MyProfilePage.tsx
Labels: enhancement, backend, frontend

#112 Feat: frontend game and chat css
  srcs/frontend/src/components/chatting/Chatting.tsx
  srcs/frontend/src/components/game/GamePlayerInfo.tsx
  srcs/frontend/src/components/game/GameScreen.tsx
  srcs/frontend/src/components/interface/IGameProps.tsx
  srcs/frontend/src/components/pages/GamePage.tsx
  srcs/frontend/src/styles/chat.styles.ts
Labels: enhancement, frontend

#113 Fix: 방 이름에서 id로 param 변경 1차, 우클릭 제외 생성, 진입, 나가기, 채팅 확인 완료
  srcs/backend/src/chat/chat.gateway.ts
  srcs/backend/src/chat/chat.repository.ts
  srcs/backend/src/chat/chat.service.ts
  srcs/frontend/src/components/chatting/ChatListItem.tsx
  srcs/frontend/src/components/chatting/Chatting.tsx
  srcs/frontend/src/components/chatting/CheckPassword.tsx
Labels: backend, frontend

#114 Fix: 우클릭들도 정상 작동하도록 수정
  srcs/backend/src/chat/chat.controller.ts
  srcs/backend/src/chat/chat.service.ts
  srcs/frontend/src/components/chatting/Chatting.tsx
  srcs/frontend/src/components/chatting/WaitingRoom.tsx
  srcs/frontend/src/components/pages/HomePage.tsx
  srcs/frontend/src/components/sidebar/contextmenu/UI/GameSpectactorMenu.tsx
  srcs/frontend/src/components/sidebar/contextmenu/UI/MuteMenu.tsx
Labels: backend, frontend

#116 Fix: 방 생성 시 방 이름 표시 안 되던 문제 수정 완료
  srcs/backend/src/chat/chat.gateway.ts
  srcs/backend/src/chat/chat.service.ts
  srcs/frontend/src/components/chatting/Chatting.tsx
Labels: frontend

#118 Fix: 방 생성, 조인 시 방 이름이 제대로 뜨지 않던 문제 해결
  srcs/frontend/src/components/chatting/Chatting.tsx
  srcs/frontend/src/components/chatting/EditButton.tsx
Labels: frontend

#119 feat : 채팅방 bcrypt 처리 완료
  srcs/backend/package-lock.json
  srcs/backend/package.json
  srcs/backend/src/chat/chat.entity.ts
  srcs/backend/src/chat/chat.gateway.ts
  srcs/frontend/src/components/chatting/ChatListItem.tsx
  srcs/frontend/src/components/chatting/CheckPassword.tsx
Labels: enhancement, backend

#120 fix : edit 시에도 암호화 처리 완료
  srcs/backend/src/chat/chat.gateway.ts
Labels: bug, backend

#121 Fix edit func
  srcs/backend/src/chat/chat.gateway.ts
  srcs/frontend/src/components/chatting/ChatListItem.tsx
  srcs/frontend/src/components/chatting/Chatting.tsx
  srcs/frontend/src/components/chatting/CheckPassword.tsx
  srcs/frontend/src/components/chatting/EditButton.tsx
Labels: backend, frontend

#123 Fix: 비밀방일 경우 관전 불가능
  srcs/frontend/src/components/sidebar/contextmenu/UI/GameSpectactorMenu.tsx
Labels: backend, frontend

#124 Feat: 조건부 렌더링 설정
  srcs/frontend/src/App.tsx
  srcs/frontend/src/components/pages/NotFound.tsx
Labels: frontend

#125 feat : history 구현
  srcs/backend/src/games/games.controller.ts
  srcs/frontend/src/components/mypage/History.tsx
  srcs/frontend/src/components/mypage/styles.css
Labels: enhancement, backend, frontend

#128 Add conditional randering
  srcs/backend/src/chat/chat.controller.ts
  srcs/backend/src/chat/chat.service.ts
  srcs/frontend/src/App.tsx
  srcs/frontend/src/api/api.ts
  srcs/frontend/src/components/chatting/CreateButton.tsx
  srcs/frontend/src/components/pages/HomePage.tsx
Labels: backend, frontend

#129 Fix: 방에서 뒤로가기 상태에서는 동작, 다른 기능은 동작 안됨
  srcs/backend/profilePicture/1665472909753-7.png
  srcs/frontend/package-lock.json
  srcs/frontend/package.json
  srcs/frontend/src/components/chatting/Chatting.tsx
  srcs/frontend/src/components/pages/HomePage.tsx
  srcs/frontend/src/hooks/useHistory.tsx
Labels: frontend

#130 fix : 랜덤버튼 삭제 & 전체 파일 정리
  srcs/backend/src/chat/chat.entity.ts
  srcs/backend/src/chat/chat.gateway.ts
  srcs/backend/src/chat/chatuser.repository.ts
  srcs/backend/src/friend/friend.repository.ts
  srcs/backend/src/games/class/game-paddle.class.ts
  srcs/backend/src/games/games.entity.ts
  srcs/backend/src/games/games.gateway.ts
  srcs/backend/src/games/games.repository.ts
  srcs/backend/src/profile/profile.controller.ts
  srcs/backend/src/user/dto/user-default.dto.ts
  srcs/backend/src/user/user.controller.ts
  srcs/backend/src/user/user.entity.ts
  srcs/frontend/src/components/chatting/Chatting.tsx
  srcs/frontend/src/components/chatting/CreateButton.tsx
  srcs/frontend/src/components/chatting/EditButton.tsx
  srcs/frontend/src/components/chatting/RandomButton.tsx
  srcs/frontend/src/components/game/GamePlayerInfo.tsx
  srcs/frontend/src/components/game/GameScreen.tsx
  srcs/frontend/src/components/mypage/History.tsx
  srcs/frontend/src/components/mypage/MyPageModal.tsx
  srcs/frontend/src/components/mypage/MyProfile.tsx
  srcs/frontend/src/components/mypage/Signup.tsx
  srcs/frontend/src/components/mypage/UserProfile.tsx
  srcs/frontend/src/components/mypage/tfa.tsx
  srcs/frontend/src/components/pages/ChattingRoomPage.tsx
  srcs/frontend/src/components/pages/GamePage.tsx
  srcs/frontend/src/components/pages/MainPage.tsx
  srcs/frontend/src/components/pages/MyProfilePage.tsx
  srcs/frontend/src/components/pages/NotFound.tsx
  srcs/frontend/src/components/sidebar/contextmenu/ContextMenu.tsx
  srcs/frontend/src/components/sidebar/contextmenu/UI/KickMenu.tsx
  srcs/frontend/src/components/sidebar/contextmenu/UI/MuteMenu.tsx
Labels: backend, frontend

#132 fix : unused 메세지 해결
  srcs/frontend/src/components/chatting/CreateButton.tsx
Labels: frontend

#133 Fix chat user status
  srcs/backend/src/chat/chat.controller.ts
  srcs/backend/src/chat/chat.gateway.ts
  srcs/backend/src/chat/chat.service.ts
  srcs/backend/src/chat/chatuser.entity.ts
  srcs/backend/src/chat/chatuser.repository.ts
  srcs/backend/src/chat/dto/chatuser-default.dto.ts
  srcs/docker-compose.yaml
  srcs/frontend/Dockerfile
  srcs/frontend/src/components/chatting/Chatting.tsx
  srcs/frontend/src/components/sidebar/RoomUserList.tsx
  srcs/frontend/src/components/sidebar/contextmenu/UI/AddAdminMenu.tsx
  srcs/frontend/src/components/sidebar/contextmenu/UI/RemoveAdminMenu.tsx
  srcs/frontend/src/components/sidebar/contextmenu/UserContextmenu.tsx
Labels: backend, frontend

#134 Fix: role 관련 에러 수정
  srcs/frontend/src/components/interface/IUserChatProps.tsx
  srcs/frontend/src/components/sidebar/RoomUserList.tsx
  srcs/frontend/src/components/sidebar/contextmenu/UserContextmenu.tsx
Labels: backend

#135 Fix: admin 상태일 때 host에게는 kick 안 뜨게 수정
  srcs/frontend/src/components/sidebar/contextmenu/UserContextmenu.tsx
Labels: frontend

#139 Feat: frontend game invite sidebar
  srcs/backend/src/chat/chat.gateway.ts
  srcs/frontend/src/components/interface/IChatProps.tsx
  srcs/frontend/src/components/sidebar/contextmenu/UI/GameInviteMenu.tsx
  srcs/frontend/src/components/sidebar/contextmenu/UI/GameSpectactorMenu.tsx
Labels: bug, frontend

#141 Add css for sidebar list
  srcs/backend/src/chat/chat.gateway.ts
  srcs/frontend/src/components/chatting/Chatting.tsx
  srcs/frontend/src/components/sidebar/FriendList.tsx
  srcs/frontend/src/components/sidebar/RoomUserItem.tsx
  srcs/frontend/src/components/sidebar/RoomUserList.tsx
  srcs/frontend/src/components/sidebar/UserItem.tsx
  srcs/frontend/src/components/sidebar/UserList.tsx
  srcs/frontend/src/components/sidebar/contextmenu/UI/GameInviteMenu.tsx
  srcs/frontend/src/components/sidebar/contextmenu/UserContextmenu.tsx
Labels: frontend

#142 Feat: 게임중인 사람 초대 불가능
  srcs/backend/src/chat/chat.service.ts
  srcs/backend/src/chat/dto/chatuser-default.dto.ts
  srcs/frontend/src/components/sidebar/RoomUserItem.tsx
  srcs/frontend/src/components/sidebar/RoomUserList.tsx
  srcs/frontend/src/components/sidebar/contextmenu/UI/GameInviteMenu.tsx
  srcs/frontend/src/components/sidebar/contextmenu/UserContextmenu.tsx
Labels: backend, frontend

#143 Fix: 채팅창 우클릭 기능 삭제
  srcs/frontend/src/components/chatting/Chatting.tsx
Labels: frontend

#144 Feat: handle blocked user cannot invite blocker
  srcs/backend/src/chat/chat.gateway.ts
  srcs/frontend/src/components/sidebar/contextmenu/UI/GameInviteMenu.tsx
Labels: enhancement, backend

#145 Feat: 모든 페이지에서 DM 받을 수 있게 세팅
  srcs/backend/src/chat/chat.gateway.ts
  srcs/frontend/src/components/chatting/Chatting.tsx
  srcs/frontend/src/components/pages/ChattingRoomPage.tsx
  srcs/frontend/src/components/pages/ChoicePage.tsx
  srcs/frontend/src/components/pages/HomePage.tsx
  srcs/frontend/src/components/pages/MyProfilePage.tsx
Labels: frontend

#149 Feat: remove log
  srcs/backend/src/auth/auth.controller.ts
  srcs/backend/src/chat/chat.gateway.ts
  srcs/backend/src/games/games.controller.ts
  srcs/backend/src/games/games.gateway.ts
  srcs/backend/src/user/user.service.ts
  srcs/frontend/src/components/game/GameScreen.tsx
  srcs/frontend/src/components/mypage/DM.tsx
  srcs/frontend/src/components/mypage/Signup.tsx
  srcs/frontend/src/components/pages/ChattingRoomPage.tsx
  srcs/frontend/src/components/pages/ChoicePage.tsx
  srcs/frontend/src/components/sidebar/RoomUserList.tsx
  srcs/frontend/src/components/sidebar/contextmenu/UI/GameInviteMenu.tsx
  srcs/frontend/src/components/sidebar/contextmenu/UI/GameSpectactorMenu.tsx
Labels: backend, frontend

#151 Fix: 초대 된 사람의 방 이름 변경 건 & 새로 Host가 되는 사람의 mute 자동 해제
  srcs/backend/src/chat/chatuser.repository.ts
  srcs/frontend/src/components/chatting/Chatting.tsx
Labels: backend, frontend
