Repository WhatHappenedTo2nd/ft_transcendence, pull requests merged in 2022-09, with the labels that each got.

#11 jwt, passport-jwt, passport-42 사용해 유저를 디비에 저장하기 위한 초기 세팅
  srcs/backend/package-lock.json
  srcs/backend/package.json
  srcs/backend/src/app.module.ts
  srcs/backend/src/auth/auth.controller.ts
  srcs/backend/src/auth/auth.module.ts
  srcs/backend/src/auth/auth.service.ts
  srcs/backend/src/user/dto/user-login.dto.ts
  srcs/backend/src/user/typeorm-ex/typeorm-ex.decorator.ts
  srcs/backend/src/user/typeorm-ex/typeorm-ex.module.ts
  srcs/backend/src/user/user.controller.ts
  srcs/backend/src/user/user.entity.ts
  srcs/backend/src/user/user.module.ts
  srcs/backend/src/user/user.repository.ts
  srcs/backend/src/user/user.service.ts
Labels: enhancement

#12 Fix: 더미 데이터 data 폴더에 이동
  srcs/frontend/src/data/frienddata.json
  srcs/frontend/src/data/userdata.json
Labels: frontend

#14 Feat: install class-validator to check data validation and use in dto
  srcs/backend/package-lock.json
  srcs/backend/package.json
  srcs/backend/src/user/dto/user-login.dto.ts
Labels: enhancement, backend

#16 Feat: sidebar에 onlineUserList 추가
  srcs/frontend/package-lock.json
  srcs/frontend/package.json
  srcs/frontend/public/data/frienddata.json
  srcs/frontend/public/data/userdata.json
  srcs/frontend/src/api/api.ts
  srcs/frontend/src/components/sidebar/SideBar.tsx
  srcs/frontend/src/components/sidebar/UserListItem.tsx
  srcs/frontend/src/index.tsx
Labels: frontend

#17 Fix: UserList 아바타 표시방식 변경
  srcs/frontend/src/components/sidebar/UserListItem.tsx
Labels: frontend

#18 Feat: link to 42 login uri when click the login button
  srcs/frontend/.gitignore
  srcs/frontend/src/components/pages/MainPage.tsx
Labels: enhancement, frontend

#19 Feat: init chatting - chatting room & random button
  srcs/frontend/package-lock.json
  srcs/frontend/package.json
  srcs/frontend/public/data/chatdata.json
  srcs/frontend/src/App.tsx
  srcs/frontend/src/api/api.ts
  srcs/frontend/src/components/chatting/Chatting.tsx
  srcs/frontend/src/components/chatting/RandomButton.tsx
  srcs/frontend/src/components/pages/ChattingPage.tsx
  srcs/frontend/src/components/pages/ChoicePage.tsx
Labels: enhancement, frontend

#21 Comments: add comments to understand well
  srcs/backend/src/auth/auth.controller.ts
  srcs/backend/src/user/dto/user-login.dto.ts
  srcs/backend/src/user/user.entity.ts
  srcs/backend/src/user/user.repository.ts
  srcs/frontend/src/App.css
  srcs/frontend/src/components/pages/ChoicePage.tsx
  srcs/frontend/src/components/pages/MainPage.tsx
Labels: comment

#22 Feat: add components to show chatting
  srcs/frontend/package-lock.json
  srcs/frontend/package.json
  srcs/frontend/public/img/inyang.jpeg
  srcs/frontend/public/img/jkeum.png
  srcs/frontend/src/App.tsx
  srcs/frontend/src/components/chatting/Comment.tsx
  srcs/frontend/src/components/chatting/CommentBox.tsx
  srcs/frontend/src/components/pages/GamePage.tsx
Labels: enhancement, frontend

#24 Fix: add comments to chat entity and some default values
  srcs/backend/node_modules/.package-lock.json
  srcs/backend/src/chat/chat.entity.ts
Labels: enhancement, backend, comment

#25 Feat: add game component and add test module
  srcs/frontend/src/components/game/Game.tsx
  srcs/frontend/src/components/game/GameData.ts
  srcs/frontend/src/components/game/GameInterface.ts
  srcs/frontend/src/components/game/GameRoom.tsx
  srcs/frontend/src/components/game/GameScreen.tsx
  srcs/frontend/src/components/game/PlayerInfo.tsx
  srcs/frontend/src/components/game/modules/Interface/chatInterface.ts
  srcs/frontend/src/components/game/modules/Interface/gameMatchInterface.ts
  srcs/frontend/src/components/game/modules/Interface/userInterface.ts
  srcs/frontend/src/components/game/modules/api.ts
  srcs/frontend/src/components/game/modules/login/login.ts
Labels: enhancement, frontend, comment

#26 Feat: Docker init
  .gitignore
  Makefile
  srcs/.env
  srcs/backend/Dockerfile
  srcs/docker-compose.yaml
  srcs/frontend/.env
  srcs/frontend/Dockerfile
  srcs/frontend/src/App.css
  srcs/frontend/src/fonts/welcomeOTF Bold.otf
  srcs/frontend/src/fonts/welcomeOTF Regular.otf
Labels: enhancement, help wanted, invalid

#28 Done: connect db container using docker-compose
  srcs/.env
  srcs/backend/.dockerignore
  srcs/backend/Dockerfile
  srcs/backend/src/configs/typeorm.config.ts
  srcs/frontend/.dockerignore
  srcs/frontend/Dockerfile
Labels: enhancement

#29 Fix: modify backend port number
  srcs/backend/src/auth/auth.controller.ts
  srcs/backend/src/main.ts
Labels: backend

#30 Feat: cors error setting
  srcs/backend/node_modules/.package-lock.json
  srcs/backend/package-lock.json
  srcs/backend/package.json
  srcs/backend/src/main.ts
  srcs/frontend/.env
  srcs/frontend/src/api/api.ts
Labels: bug, backend, frontend

#32 Fix: add intra_id to cookie
  srcs/backend/src/auth/auth.controller.ts
Labels: enhancement, backend

#33 Add api for user
  srcs/backend/node_modules/.package-lock.json
  srcs/backend/package-lock.json
  srcs/backend/package.json
  srcs/backend/src/auth/guard/jwt-auth.guard.ts
  srcs/backend/src/friend/dto/friend.dto.ts
  srcs/backend/src/friend/friend.controller.ts
  srcs/backend/src/friend/friend.repository.ts
  srcs/backend/src/friend/friend.service.ts
  srcs/backend/src/friend/friendStatus.ts
  srcs/backend/src/user/dto/user-default.dto.ts
  srcs/backend/src/user/get.user.decorator.ts
  srcs/backend/src/user/user.controller.ts
  srcs/backend/src/user/user.repository.ts
  srcs/backend/src/user/user.service.ts
  srcs/frontend/.env
  srcs/frontend/package-lock.json
  srcs/frontend/package.json
  srcs/frontend/src/api/api.ts
  srcs/frontend/src/api/cookieFunc.ts
  srcs/frontend/src/components/sidebar/FriendList.tsx
  srcs/frontend/src/components/sidebar/SideBar.tsx
  srcs/frontend/src/components/sidebar/UserListItem.tsx
  srcs/frontend/src/index.tsx
Labels: backend, frontend, comment

#34 Feat: swagger setting
  srcs/backend/node_modules/.package-lock.json
  srcs/backend/package-lock.json
  srcs/backend/package.json
  srcs/backend/src/app.controller.ts
  srcs/backend/src/auth/auth.controller.ts
  srcs/backend/src/friend/friend.controller.ts
  srcs/backend/src/main.ts
  srcs/backend/src/user/user.controller.ts
  srcs/frontend/src/components/sidebar/FriendList.tsx
Labels: backend

#35 Fix: modify accessToken expire time to 3 hours
  srcs/backend/src/auth/auth.controller.ts
  srcs/backend/src/auth/auth.module.ts
Labels: backend

#36 Fix : 페이지, 함수 이름 수정
  srcs/frontend/src/App.tsx
  srcs/frontend/src/components/chatting/ChattingRoom.tsx
  srcs/frontend/src/components/pages/ChattingRoomPage.tsx
Labels: frontend

#37 Feat: init chatting box using socket...
  srcs/frontend/Dockerfile
  srcs/frontend/package-lock.json
  srcs/frontend/package.json
  srcs/frontend/src/components/chatting/Chatting.tsx
  srcs/frontend/src/components/pages/GamePage.tsx
  srcs/frontend/src/styles/chat.styles.ts
Labels: enhancement, frontend

#40 Feat: init chatting backend using websocket...
  srcs/backend/node_modules/.package-lock.json
  srcs/backend/node_modules/@nestjs/common/cache/cache.constants.d.ts
  srcs/backend/node_modules/@nestjs/common/cache/cache.constants.js
  srcs/backend/node_modules/@nestjs/common/cache/interceptors/cache.interceptor.js
  srcs/backend/node_modules/@nestjs/common/constants.d.ts
  srcs/backend/node_modules/@nestjs/common/constants.js
  srcs/backend/node_modules/@nestjs/common/module-utils/configurable-module.builder.d.ts
  srcs/backend/node_modules/@nestjs/common/module-utils/configurable-module.builder.js
  srcs/backend/node_modules/@nestjs/common/module-utils/interfaces/configurable-module-cls.interface.d.ts
  srcs/backend/node_modules/@nestjs/common/module-utils/interfaces/configurable-module-host.interface.d.ts
  srcs/backend/node_modules/@nestjs/common/package.json
  srcs/backend/node_modules/@nestjs/common/serializer/class-serializer.interceptor.d.ts
  srcs/backend/node_modules/@nestjs/common/serializer/class-serializer.interceptor.js
  srcs/backend/node_modules/@nestjs/common/serializer/decorators/serialize-options.decorator.d.ts
  srcs/backend/node_modules/@nestjs/common/serializer/index.d.ts
  srcs/backend/node_modules/@nestjs/common/serializer/index.js
  srcs/backend/node_modules/@nestjs/common/services/console-logger.service.js
  srcs/backend/package-lock.json
  srcs/backend/package.json
  srcs/backend/src/app.module.ts
  srcs/backend/src/chat/chat.gateway.ts
  srcs/backend/src/chat/chat.module.ts
Labels: enhancement, backend

#43 Feat : chattingroom api 추가 & git 충돌 해결 & delete game module
  srcs/backend/src/app.module.ts
  srcs/backend/src/chat/chat.controller.ts
  srcs/backend/src/chat/chat.entity.ts
  srcs/backend/src/chat/chat.module.ts
  srcs/backend/src/chat/chat.repository.ts
  srcs/backend/src/chat/chat.service.ts
  srcs/backend/src/chat/dto/chat.dto.ts
  srcs/backend/src/games/games.controller.ts
  srcs/backend/src/games/games.entity.ts
  srcs/backend/src/games/games.module.ts
  srcs/backend/src/games/games.repository.ts
  srcs/backend/src/games/games.service.ts
  srcs/frontend/src/api/api.ts
Labels: enhancement, backend

#44 Fix: connect back server and front on chatting...
  srcs/backend/src/chat/chat.gateway.ts
Labels: backend

#47 Add contextmenu
  srcs/frontend/src/components/interface/IFriendProps.tsx
  srcs/frontend/src/components/interface/IUserProps.tsx
  srcs/frontend/src/components/sidebar/FriendItem.tsx
  srcs/frontend/src/components/sidebar/FriendList.tsx
  srcs/frontend/src/components/sidebar/SideBar.tsx
  srcs/frontend/src/components/sidebar/UserItem.tsx
  srcs/frontend/src/components/sidebar/UserList.tsx
  srcs/frontend/src/components/sidebar/UserListItem.tsx
Labels: frontend

#49 fix : myprofile 수정(기본 css 및 파일 정리)
  srcs/frontend/src/App.tsx
  srcs/frontend/src/components/interface/IUserProps.tsx
  srcs/frontend/src/components/mypage/MyProfile.tsx
  srcs/frontend/src/components/pages/MyProfilePage.tsx
Labels: frontend

#50 Chatting service
  srcs/backend/src/chat/chat.gateway.ts
  srcs/frontend/src/App.tsx
  srcs/frontend/src/components/chatting/Chatting.tsx
  srcs/frontend/src/components/chatting/WaitingRoom.tsx
  srcs/frontend/src/styles/chat.styles.ts
  srcs/frontend/src/styles/waiting.styles.ts
Labels: enhancement, backend, frontend

#53 Fix: delete unused imports or variables...
  srcs/backend/package-lock.json
  srcs/backend/package.json
  srcs/backend/src/app.controller.ts
  srcs/backend/src/app.module.ts
  srcs/backend/src/main.ts
  srcs/backend/src/views/login.ejs
  srcs/frontend/src/components/chatting/Chatting.tsx
  srcs/frontend/src/components/chatting/Comment.tsx
  srcs/frontend/src/components/chatting/CommentBox.tsx
  srcs/frontend/src/components/chatting/WaitingRoom.tsx
  srcs/frontend/src/components/interface/IChatProps.tsx
Labels: backend, frontend

#57 Add contextmenu
  srcs/backend/package-lock.json
  srcs/backend/src/app.module.ts
  srcs/backend/src/friend/friend.controller.ts
  srcs/backend/src/friend/friend.entity.ts
  srcs/backend/src/friend/friend.module.ts
  srcs/backend/src/friend/friend.repository.ts
  srcs/backend/src/friend/friend.service.ts
  srcs/backend/src/friend/friendStatus.ts
  srcs/backend/src/user/user.module.ts
  srcs/backend/src/user/user.service.ts
  srcs/frontend/src/components/WarnigAlert/WarningAlert.tsx
  srcs/frontend/src/components/interface/IWarningProps.tsx
  srcs/frontend/src/components/sidebar/FriendItem.tsx
  srcs/frontend/src/components/sidebar/UserItem.tsx
  srcs/frontend/src/components/sidebar/contextmenu/ContextMenu.tsx
  srcs/frontend/src/components/sidebar/contextmenu/UI/AddFriendMenu.tsx
  srcs/frontend/src/components/sidebar/contextmenu/UI/BlockMenu.tsx
  srcs/frontend/src/components/sidebar/contextmenu/UserContextmenu.tsx
  srcs/frontend/src/hooks/useAddFriend.tsx
  srcs/frontend/src/hooks/useBlocked.tsx
  srcs/frontend/src/hooks/useFriend.tsx
  srcs/frontend/src/hooks/useTargetUser.tsx
  srcs/frontend/src/hooks/useWarnigAlert.tsx
Labels: backend, frontend

#62 Fix: onlineUser 중복 데이터 삭제
  srcs/backend/src/friend/friend.service.ts
  srcs/backend/src/user/user.controller.ts
  srcs/backend/src/user/user.module.ts
  srcs/frontend/src/api/api.ts
  srcs/frontend/src/components/sidebar/SideBar.tsx
  srcs/frontend/src/components/sidebar/UserList.tsx
Labels: backend, frontend
